In [1]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Polygon
from geojson import GeoJSON
import json
import matplotlib
from numpy import mean, all, median

from bokeh.models import (ColumnDataSource, GMapPlot, Range1d, ColumnDataSource, LinearAxis,
HoverTool, PanTool, WheelZoomTool, BoxZoomTool, ResetTool,CustomJS,
GMapOptions, NumeralTickFormatter, PrintfTickFormatter, MapOptions)
from bokeh.models.glyphs import Patches
from bokeh.plotting import figure, save, show
from bokeh.resources import CDN
from bokeh.io import output_file, show, saving
from bokeh.models.widgets import RadioButtonGroup
from bokeh.layouts import widgetbox, column
from bokeh.models.widgets import Panel, Tabs
outfp = r"./map_display.html"
from bokeh import tile_providers
from bokeh.tile_providers import CARTODBPOSITRON

df_wash = pd.read_pickle('Washington.pickle')
df_wash.head()

df = df_wash[df_wash['total_score'].apply(len)>0].copy()
# This will discard all the hexes where there aren't any observations.
# remember to make this a copy or else you will end up with warnings about writing to a slice
df.head()

,grid,x_shape,y_shape,total_score,bike_score,car_score,mass_score,ride_score,points_list
id,,,,,,,,,
121,"(0, 0, 0)","[-77.029658, -77.03465800000001, -77.044658, -...","[38.904978, 38.91363825403784, 38.913638254037...","[89, 97, 96, 87, 86, 95, 86, 80, 97, 89, 88, 1...","[22.0, 11.0, 14.0, 26.0, 13.0, 12.0, 12.0, 15....","[21.0, 3.0, 4.0, 10.0, 5.0, 7.0, 7.0, 5.0, 4.0...","[40.0, 73.0, 68.0, 46.0, 63.0, 67.0, 62.0, 57....","[17.0, 13.0, 14.0, 18.0, 19.0, 14.0, 19.0, 23....","[304584, 242324, 297629, 303694, 279770, 30133..."
131,"(0, 1, -1)","[-77.029658, -77.03465800000001, -77.044658, -...","[38.92229850807569, 38.930958762113534, 38.930...","[77, 93, 88, 91, 68, 83, 80, 87, 93, 89, 72, 8...","[0.0, 20.0, 14.0, 16.0, 30.0, 12.0, 15.0, 14.0...","[0.0, 4.0, 3.0, 5.0, 7.0, 6.0, 4.0, 4.0, 4.0, ...","[74.0, 61.0, 66.0, 63.0, 25.0, 61.0, 57.0, 64....","[26.0, 15.0, 17.0, 16.0, 38.0, 21.0, 24.0, 18....","[243225, 235844, 243020, 302718, 219703, 23457..."
122,"(1, 0, -1)","[-77.014658, -77.019658, -77.029658, -77.03465...","[38.91363825403784, 38.922298508075684, 38.922...","[83, 80, 85, 80, 79, 64, 79, 85, 91, 76, 89, 7...","[18.0, 18.0, 26.0, 15.0, 26.0, 30.0, 16.0, 20....","[4.0, 26.0, 8.0, 8.0, 5.0, 11.0, 7.0, 10.0, 5....","[57.0, 32.0, 47.0, 54.0, 45.0, 12.0, 53.0, 51....","[21.0, 24.0, 19.0, 23.0, 24.0, 47.0, 24.0, 19....","[284325, 271776, 311750, 306456, 229750, 29153..."
113,"(2, -1, -1)","[-76.999658, -77.004658, -77.014658, -77.01965...","[38.904978, 38.91363825403784, 38.913638254037...","[78, 80, 82, 56, 78, 82, 56, 55, 77, 64, 66, 5...","[22.0, 22.0, 15.0, 0.0, 16.0, 15.0, 0.0, 0.0, ...","[12.0, 8.0, 10.0, 3.0, 6.0, 5.0, 2.0, 1.0, 5.0...","[41.0, 47.0, 53.0, 28.0, 52.0, 58.0, 29.0, 28....","[25.0, 23.0, 22.0, 69.0, 26.0, 22.0, 69.0, 71....","[307668, 65280, 149108, 224291, 313404, 301806..."
132,"(1, 1, -2)","[-77.014658, -77.019658, -77.029658, -77.03465...","[38.930958762113534, 38.939619016151376, 38.93...","[69, 62, 68, 60, 77, 73, 65, 77, 69, 66, 67, 6...","[23.0, 0.0, 31.0, 0.0, 0.0, 28.0, 0.0, 23.0, 0...","[18.0, 0.0, 8.0, 15.0, 9.0, 1.0, 11.0, 8.0, 10...","[23.0, 50.0, 23.0, 30.0, 65.0, 40.0, 46.0, 43....","[36.0, 50.0, 38.0, 55.0, 26.0, 31.0, 43.0, 26....","[220630, 219283, 297981, 223260, 79541, 313269..."

In [2]:
colors = [
'#ffffcc',
'#d9f0a3',
'#addd8e',
'#78c679',
'#31a354',
'#006837'
]
descriptions = ['Bad','Poor','Average','Good','Great','Excellent']
bins = [0,50,60,70,80,90,100]

def list_cruncher(df, col, function, c_list, d_list):
    string0 = function.__name__+ "_value_"+ col
    string1 = function.__name__+ "_"+ col
    string2 = string1 + "_ratings"
    temp = df[col].apply(lambda x: function(x)).copy()
    
    
    df[string0] = temp
    df[string1] = pd.cut(temp, bins, labels=c_list)
    df[string2] = pd.cut(temp, bins, labels=d_list)

list_cruncher(df,'total_score', mean, colors, descriptions)
list_cruncher(df,'total_score', median, colors, descriptions)
df.head(2)

,grid,x_shape,y_shape,total_score,bike_score,car_score,mass_score,ride_score,points_list,mean_value_total_score,mean_total_score,mean_total_score_ratings,median_value_total_score,median_total_score,median_total_score_ratings
id,,,,,,,,,,,,,,,
121,"(0, 0, 0)","[-77.029658, -77.03465800000001, -77.044658, -...","[38.904978, 38.91363825403784, 38.913638254037...","[89, 97, 96, 87, 86, 95, 86, 80, 97, 89, 88, 1...","[22.0, 11.0, 14.0, 26.0, 13.0, 12.0, 12.0, 15....","[21.0, 3.0, 4.0, 10.0, 5.0, 7.0, 7.0, 5.0, 4.0...","[40.0, 73.0, 68.0, 46.0, 63.0, 67.0, 62.0, 57....","[17.0, 13.0, 14.0, 18.0, 19.0, 14.0, 19.0, 23....","[304584, 242324, 297629, 303694, 279770, 30133...",85.323164,#31a354,Great,86.0,#31a354,Great
131,"(0, 1, -1)","[-77.029658, -77.03465800000001, -77.044658, -...","[38.92229850807569, 38.930958762113534, 38.930...","[77, 93, 88, 91, 68, 83, 80, 87, 93, 89, 72, 8...","[0.0, 20.0, 14.0, 16.0, 30.0, 12.0, 15.0, 14.0...","[0.0, 4.0, 3.0, 5.0, 7.0, 6.0, 4.0, 4.0, 4.0, ...","[74.0, 61.0, 66.0, 63.0, 25.0, 61.0, 57.0, 64....","[26.0, 15.0, 17.0, 16.0, 38.0, 21.0, 24.0, 18....","[243225, 235844, 243020, 302718, 219703, 23457...",81.930223,#31a354,Great,83.0,#31a354,Great

In [4]:
washington_y = 38.904978
washington_x = -77.039658

map_options = GMapOptions(lat=38.9, lng=-77.02, map_type="roadmap", zoom=12)


output_file(outfp)
dsource = ColumnDataSource(df)


x = -8572500
y = 4702500

class plot_pipeline:
    def __init__(self, source, center):
        self.source = source
        self.make_fig(center[0],center[1])
    
    def make_fig(self, x, y):
        tips = [
                ('Total Score', "@mean_value_total_score"),
                ('Description', "@mean_total_score_ratings")
        ]
        wheel = WheelZoomTool()
        tool_box = [HoverTool(tooltips=tips), wheel, PanTool(),
                 BoxZoomTool(), ResetTool()]
        bound = 15000 # 15 km
        plot = GMapPlot(x_range=Range1d(-77.12,-76.90),
            y_range=Range1d(38.8,39.0),
            toolbar_location="right",
            tools = tool_box, plot_width=1100,
            plot_height=1100, map_options=map_options)
        
        plot.api_key = "AIzaSyAzwtLKiUI3B5eqrKRL1MLozbu91hbloYs"
        plot.toolbar.active_scroll = wheel
        plot.add_tile(CARTODBPOSITRON)
        self.plot=plot
        
    def add_layer(self, column_name):       
        
        hexes = Patches(xs='x_shape', ys='y_shape',
            fill_color=column_name, fill_alpha=0.4, 
            line_color="black", line_width=1.00)
        
        self.plot.add_glyph(dsource, hexes)
        
    def out(self):
        show(self.plot)
        
        
wash = plot_pipeline(dsource, (washington_x,washington_y))
wash.add_layer('mean_total_score')
wash.out()

In [69]:
# wheel = WheelZoomTool()

# tool_box = [wheel, PanTool(),HoverTool(),
#          BoxZoomTool(), ResetTool()]


# bound = 15000 
# fig = figure() , tools=tool_box)
# fig.axis.visible = False
# fig
# output_file("wash_plot_maps.html")
# show(fig)