In [3]:
import requests
import json
import pandas as pd
url='https://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Property_and_Land_WebMercator/MapServer/68/query?where=1%3D1&outFields=*&outSR=4326&f=json'

In [36]:
url_response = requests.get(url)

In [86]:
url_json = url_response.json()
df = pd.io.json.json_normalize(url_json['features'])
df.columns = df.columns.map(lambda x: x[11:])

In [87]:
df.head()

,ADDRESS_ID,FULLADDRESS,METADATA_ID,OBJECTID,SSL,STATUS,UNITNUM,UNITTYPE,UNIT_ID
0,145743,2017 37TH STREET SE,316669,1,5671 2022,ACTIVE,102,CONDO,1271
1,145743,2017 37TH STREET SE,316670,2,5671 2023,ACTIVE,201,CONDO,1272
2,145743,2017 37TH STREET SE,316671,3,5671 2024,ACTIVE,202,CONDO,1273
3,145743,2017 37TH STREET SE,316672,4,5671 2025,ACTIVE,301,CONDO,1274
4,145743,2017 37TH STREET SE,316673,5,5671 2026,ACTIVE,302,CONDO,1275

In [38]:
df['attributes.UNITTYPE'].describe()

count      1000
unique        2
top       CONDO
freq        997
Name: attributes.UNITTYPE, dtype: object