In [1]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Polygon
from geojson import GeoJSON
import json
import matplotlib
from bokeh.models import (
    ColumnDataSource, GMapPlot, Range1d, ColumnDataSource, LinearAxis,
    HoverTool, PanTool, WheelZoomTool, BoxSelectTool, ResetTool,
    GMapOptions,
    NumeralTickFormatter, PrintfTickFormatter)
from bokeh.models.glyphs import Patches
from bokeh.plotting import figure, save, show
from bokeh.resources import CDN
from bokeh.io import output_file, show
# output_notebook()

# %matplotlib inline

df=pd.read_pickle('wash_again_pickle')
# df.crs={'init' :'epsg:3857'}
# df['id'] = points_frame.index
# points = df[['id','base_score']]
# shapes = json.loads(df[['geometry']].to_json())

df.head()

,y,x,base_score
0,"[38.904978, 38.90714306350946, 38.907143063509...","[-77.037158, -77.038408, -77.040908, -77.04215...",77.454545
1,"[38.90281293649054, 38.904978, 38.904978, 38.9...","[-77.03340800000001, -77.03465800000001, -77.0...",70.000000
2,"[38.90281293649054, 38.904978, 38.904978, 38.9...","[-77.040908, -77.042158, -77.044658, -77.04590...",74.833333
3,"[38.909308127018924, 38.91147319052838, 38.911...","[-77.037158, -77.038408, -77.040908, -77.04215...",74.823708
4,"[38.90714306350946, 38.90930812701892, 38.9093...","[-77.040908, -77.042158, -77.044658, -77.04590...",74.983051

In [2]:
colors = [
    "#ffffe5",
#     "#f7fcb9",
    "#d9f0a3",
    "#addd8e",
#     "#78c679",
    "#41ab5d",
    "#238443",
#     "#006837",
    "#004529"]



df['bin'] = pd.cut(df['base_score'],[0,50,60,70,80,90,100], labels=colors)
df.head()

,y,x,base_score,bin
0,"[38.904978, 38.90714306350946, 38.907143063509...","[-77.037158, -77.038408, -77.040908, -77.04215...",77.454545,#41ab5d
1,"[38.90281293649054, 38.904978, 38.904978, 38.9...","[-77.03340800000001, -77.03465800000001, -77.0...",70.000000,#addd8e
2,"[38.90281293649054, 38.904978, 38.904978, 38.9...","[-77.040908, -77.042158, -77.044658, -77.04590...",74.833333,#41ab5d
3,"[38.909308127018924, 38.91147319052838, 38.911...","[-77.037158, -77.038408, -77.040908, -77.04215...",74.823708,#41ab5d
4,"[38.90714306350946, 38.90930812701892, 38.9093...","[-77.040908, -77.042158, -77.044658, -77.04590...",74.983051,#41ab5d

In [3]:
outfp = r"./boquet.html"
gsource = ColumnDataSource(df)

In [5]:
# p = GMapPlot(
#     plot_width=570, plot_height=500,
#     x_range = Range1d(), y_range = Range1d(),
#     map_options=GMapOptions(lat=39, lng=-77, zoom=10))

In [6]:
map_options = GMapOptions(lat=38.9, lng=-77.05, map_type="roadmap", zoom=10)

plot = GMapPlot(x_range=Range1d(), y_range=Range1d(), map_options=map_options)
plot.title.text = "DC"
plot.api_key = "AIzaSyAzwtLKiUI3B5eqrKRL1MLozbu91hbloYs"
output_file(outfp)

In [10]:
hexes = Patches(xs='x', ys='y',
         fill_color='bin',
         fill_alpha=0.4, line_color="black", line_width=0.05)

# plot.add_glyph()

In [ ]:

show(plot)